<%- include("./layouts/header.ejs") %>
    
    <div class="container">
        <div class="row">
            <% for(i=0;i<customers.length;i++){%>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <span class="d-flex" style="justify-content: space-between;">
                                <h3 class="text-center">
                                    <%=customers[i].customer_name %>
                                </h3>
                                <p class="h6 text-success my-2">
                                    <%=customers[i].cat_name %>
                                </p>
                            </span>
                            <h5 style="display: flex; justify-content: space-between;">
                                <span>Table No <%=customers[i].table_number %></span>
                                <span>&#8377;&nbsp;<%- Number(customers[i].total)+Number(customers[i].price) %></span>
                            </h5>
                            <div style="display: flex;justify-content: space-around;">
                                <% if(customers[i].status=='paid'){%>
                                    <p class="h4 my-auto btn text-success text-uppercase fw-bold"><%=customers[i].status %></p>
                                <%}else{%>
                                
                                <a href="/make_payment/<%=customers[i].id %>">
                                    <button class="btn my-auto btn-success  rounded-pill  mt-2">Pay&nbsp;Now</button>
                                </a>
                                <% }%>
                                <a href="/view_order/<%=customers[i].id %>">
                                    <button class="btn btn-lg text-primary rounded-pill mt-2">View&nbsp;<i class="fa-solid fa-eye"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }%>

        </div>
    </div>
    <%- include("./layouts/footer.ejs") %>