<%- include("./layouts/header.ejs") %>
    <div class="row">

        <div class="container ">
            <form action="/update_menu/<%=item[0].id%>" method="post" enctype="multipart/form-data">
                <div class="row bg-light p-5">
                    <div class="col-md-12 my-2 mb-4 bg-light text-center">
                        <h2>Edit Item</h2>
                    </div>
                    <div class="col-md-4 my-2">
                        <label for="category">Dish Name:</label>
                        <input class="form-control" value="<%=item[0].dish_name %>" type="text" name="dish_name" required>
                    </div>
                    <div class="col-md-4 my-2">
                        <label for="dish_category">Dish Category:</label>
                        <select name="dish_category" class="form-control">
                            <!-- <option disabled selected>Select Category</option> -->
                            <% for(i=0;i<categories.length;i++){%>
                                <option <%=item[0].dish_category==categories[i].cat_id?'selected':''%> value="<%=categories[i].cat_id%>">
                                    <%=categories[i].cat_name%>
                                </option>
                                <%}%>
                        </select>
                    </div>
                    <div class="col-md-4 my-2">
                        <label for="dish_price">Dish Price:</label>
                        <input class="form-control" type="number" value="<%=item[0].dish_price%>" name="dish_price" required>
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="dish_contents">Dish Contents:</label>
                        <input class="form-control" type="text" value="<%=item[0].dish_contents%>" name="dish_contents" required>
                    </div>
                    <div class="col-md-4 my-2">
                        <label for="dish_image">Dish Image:</label>
                        <input type="text" name="dish_image" value="<%=item[0].dish_image%>" hidden>
                        <input class="form-control" type="file" name="dish_image">
                    </div>
                    <div class="col-md-12 my-4 text-center">
                        <button type="submit" class="btn btn-md btn-primary btn-lg">Update Item</button>
                    </div>
                    <div class="col-md-12 text-center">
                        <img src="/uploads/<%= item[0].dish_image %>" width="200px" alt="tmkc">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include("./layouts/footer.ejs") %>