<%- include("./layouts/header.ejs")%>
    <div class="container my-5">
        <div class="row bg-light">
            <div class="col-md-12 text-center">
                <h3 class="my-3">Manage Menu-Items</h3>
            </div>
            <div class="col-md-12 text-center">
                <table class="table w-100 table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Dish</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(i=0;i<menu.length;i++){%>
                            <tr>
                                <td>
                                    <%=i+1%>
                                </td>
                                <td>
                                    <%=menu[i].dish_name%>
                                </td>
                                <td>
                                    <%=menu[i].dish_price%>
                                </td>
                                <td>
                                    <img src="uploads/<%=menu[i].dish_image%>" width="100px" />
                                </td>
                                <td style="white-space: nowrap;">
                                    <a onclick="return confirm('Are u sure?')" href="/delete_menu/<%=menu[i].id%>">
                                        <button class="btn btn-danger p-2"><i class="fa-solid fa-trash"></i></button>
                                    </a>
                                    <a href="/edit_menu/<%=menu[i].id%>">
                                        <button class="btn btn-primary p-2"><i class="fa-solid fa-edit"></i></button>
                                    </a>
                                </td>
                            </tr>
                            <%} %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include("./layouts/footer.ejs")%>